{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Pay with Mpesa" %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-8">
            {% comment %} <h1>{% trans "Pay for your Booking" %}</h1> {% endcomment %}
            <form action="{% url 'booking:payment' %}" method="post" style="margin-top: 15px;">
                {% csrf_token %}
                <h2 class="h2">Payment Details</h2>
                <div class="mb-3 row col-sm-6">
                    <label for="{{ form.number.id_for_label }}" class="form-label">Phone Number*</label>
                    {{ form.number }}
                </div>
                <div class="mb-3 row col-sm-6">
                    <input type="submit" name="submit" value="Submit" class=" form-control btn btn-lg btn-primary"/>
                </div>
            </form>   
        </div>
        {{booking.id}}
    
        <aside class="col-4">
            <h1>Your booking</h1>
            <p id='side_seat_class'>{{booking.origin}} - {{booking.dest}}</p>
            {% if booking.seat_class %}
                <p>{{booking.seat_class}}</p>
            {% endif %}
            <hr>
            <p>{{ booking.total_travellers }} Traveller{{ booking.total|pluralize }}</p>
            {% for key, value in booking.travellers.items %}
                <span>{{value}} {{ key }}{{value|pluralize}} </span>
            {% endfor %}
            <hr>
            <p>Flight</p>
            {% if booking.date %}
                <p>Departure Date: {{booking.date}}</p>
                <p id='side_dep_time'>Departure Time: {{ booking.dep_time }}</p>
            {% else %}
                <p>Departure Date: {{ dep_date }}</p>
            {% endif %}
            <hr>
            <button class="continue" id="add_flight_details" type="submit">Continue</button>
        </aside>
    </div>

{% endblock %}
