{% extends 'base.html' %}
{% load static %}
{% block title %}Search Flight {% endblock %}
{% block content %}

        <header class="ms-3 logo mt-3">
            <h1 class="h1"><a href="/" class="text-decoration-none">Red Airlines</a></h1>
            <h5 class="m-4">Booking Process: <span >Search Flight</span> &rarr; <span >Choose Flight</span> &rarr; <span class="step">Personal detail</span> &rarr; <span>Payment</span> &rarr; <span>Finish<span></h5>
        </header>
        <div class="row ms-3">
            <div class="col-sm-8">
                <form action="{% url  'booking:add_passenger' %}" method="post" class="mobile-form">
                    {% csrf_token %}
                    <h2 class="h2">Enter Your Details</h2>
                        <div class="mb-3 row col-sm-6">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label"> First Name*</label>
                            {{ form.first_name }}
                        </div>

                        <div class="mb-3 row col-sm-6">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name*</label>
                            {{ form.last_name }}
                        </div>

                        <div class="mb-3 row col-sm-6">
                            
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email*</label>
                            {{ form.email }}                      
                        </div>
                        
                        <div class="mb-3 row col-sm-6">
                            <label for="{{ form.telephone.id_for_label }}" class="form-label">Telephone*</label>
                            {{ form.telephone }}
                        </div>

                        <div class="mb-3 row col-sm-6">
                            <label for="{{ form.national_id.id_for_label }}" class="form-label">National ID*</label>
                            {{ form.national_id }}
                        </div>

                        <div class="mb-3 row col-sm-6">
                            <label for="{{ form.passport_id.id_for_label }}" class="form-label">Passport ID*</label>
                            {{ form.passport_id }}
                        </div>
                        <div class="mb-3 row col-sm-6">
                            <input type="submit" name="submit" value="Submit" class=" form-control btn btn-lg btn-danger"/>
                        </div>
                </form>
            </div>
            <aside class="col-sm-3 mb-4">
                <div class="p-3 shadow bg-white">
                    <h3>Your booking</h3>
                    <p>{{booking.origin}} - {{booking.dest}}</p>
                    {% if booking.seat_class %}
                        <p id='side_seat_class'>{{booking.seat_class}}</p>
                    {% endif %}
                    <hr>
                    <h5>{{ booking.total_travellers }} Traveller{{ booking.total_travellers|pluralize }}</h5>
                    {% for key, value in booking.travellers.items %}
                        {% if value %}
                            <span class="aside-pass">{{value}} {{ key }}{{value|pluralize}} </span>
                        {% endif %}
                    {% endfor %}
                    <hr>
                    <h5>Flight</h5>
                    {% if booking.date %}
                        <p id="side_dep_date">Departure Date: {{booking.date}}</p>
                        <p id='side_dep_time'>Departure Time: {{ booking.dep_time }}</p>
                    {% else %}
                        <p id="side_dep_date">Departure Date: {{ dep_date }}</p>
                    {% endif %}
                    <hr>
                    {% comment %} <button class="continue red form-control btn btn-lg btn-danger" id="add_flight_details" type="submit">Continue</button> {% endcomment %}
                </div>
            </aside>
        </div>
    
{% endblock %}