{% load i18n %}
<html>
  <body>
    <h1>{% trans "Red Airlines" %}</h1>
    <h3>From: {{ booking.route.origin }}, To: {{ booking.route.dest }}</h3>
    <h5>{% trans "Ticket no." %} {{ booking.id }}</h5>
    <p class="secondary">
      {{ booking.created|date:"M d, Y" }}
    </p>
     
    <table class="table table-stripped">
      <thead>
        <tr>
          
        </tr>
      </thead>
      <tbody>
        <tr><td>Name: {{ passenger.first_name }} {{ passenger.last_name }}</td></tr>
        <tr><td>Email: {{ passenger.email }}</td></tr>
        <tr><td>Departure Date: {{booking.schedule.dep_date}}</td></tr>
        <tr><td>Departure Time: {{booking.schedule.dep_time}}</td></tr>
        {% comment %} <tr><td>Seat Number: {{booking.schedule.dep_date}}</td></tr> {% endcomment %}
        <tr><td>Price: {{booking.cost|floatformat:2}}</td></tr>
        
      </tbody>
    </table>

    {% comment %} <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
      {% if order.paid %}{% trans "Paid" %}{% else %}{% trans "Pending payment" %}{% endif %}
    </span> {% endcomment %}
  </body>
</html>
