{% extends 'base.html' %}
{% load static %}
{% block title %}Search Flight {% endblock %}
{% block content %}
    <div class="container">
        <header class="ms-3 logo mt-3">
            <h1 class="h1"><a href="/" class="text-decoration-none">Red Airlines</a></h1>
            <h5 class="m-4">Booking Process: <span class="step">Search Flight</span> &rarr; <span>Choose Flight</span> &rarr; <span>Personal detail</span> &rarr; <span>Payment</span> &rarr; <span>Finish<span></h5>
        </header>
        <form action="{% url  'booking:search_flight' %}" method="get">
            {% csrf_token %}
            <div class="row g-3 line ">
                <h2 class="h2">Search for Flight</h2>
                <div class="col-sm-3">
                    <label for="{{ form.origin.id_for_label }}" class="form-label">From*</label>
                    {{ form.origin }}
                </div>
                <div class="col-sm-3">
                
                    <label for="{{ form.dest.id_for_label }}" class="form-label">To*</label>
                    {{ form.to }}
                </div>
                <div class="col-sm-3">
                    
                    <label for="{{ form.dep_date.id_for_label }}" class="form-label">Departure*</label>
                    {{ form.dep_date }}
                    <div class="invalid-feedback">
                        {{form.dep_date.errors}}
                      </div>
                </div>
                <div class="col-sm-3 dropdown btn-align">
                    <span>&nbsp;</span>{% comment %} Not a good solution. Adding unnecessary html for layout...use css intead to  {% endcomment %}
                    <button class="btn btn-danger btn-lg dropdown-toggle form-control mt-2 red" type="button" id="add_pass" data-bs-toggle="dropdown" aria-expanded="false">
                        1 Passenger
                    </button>
                    <ul  class="dropdown-menu " aria-labelledby="Number of passengers">
                        <li class="dropdown-item">
                            <label for="{{ form.adults.id_for_label }}" class="form-label">Adults</label>
                            {{ form.adults }}
                        </li>
                        <li class="dropdown-item">
                            <label for="{{ form.youths.id_for_label }}" class="form-label">Youths</label>
                            {{ form.youths }}
                        </li>
                        <li class="dropdown-item">
                            <label for="{{ form.children.id_for_label }}" class="form-label">Children</label>
                            {{ form.children }}
                        </li>
                        <li class="dropdown-item">
                            <label for="{{ form.infants.id_for_label }}" class="form-label">Infants</label>
                            {{ form.infants }}
                        </li>
                        
                    </ul>
                
                </div>
                
                <div class="col-sm-3">
                    <label for="{{ form.seat_class.id_for_label }}" class="form-label">Class</label>
                    {{ form.seat_class }}
                </div>
                <div class="col-sm-9 btn-align">        
                    <span>&nbsp;</span>            
                    <input type="submit" name="submit" value="Book Now" class="form-control btn-danger btn btn-lg  mt-2 mb-3 red"/>
                </div>
                
            </div>
            
        </form>
        
        
    </div>
    <script>
        let  dropDown = document.querySelector('.dropdown-menu');
        dropDown.addEventListener('input', (e)=>{
            let adults = document.getElementById('id_adults').value;
            let youths = document.getElementById('id_youths').value;
            let children = document.getElementById('id_children').value;
            let infants = document.getElementById('id_infants').value;
            
            
            let total_pass = parseInt(adults) + parseInt(youths) + parseInt(children) + parseInt(infants);
            if(!isNaN(total_pass)){
              let string = ' passenger';
              if(total_pass > 1){
                string = ' passengers';
              }  
              document.getElementById('add_pass').innerHTML = total_pass + string;
            } 
          
          });
          /*
        dropDown.addEventListener('focus' (e){
            if(e.target.tagName == 'input'){
                e.target.parentElement.style.background-color = '#ec0921'
            }
        })*/
    </script>
{% endblock %}